<div class="navbar">
  <div class="navbar-content">
    <a class="navbar-link-item" routerLink="/">
      <img src="assets/pocket-cloud.svg" width="40" alt="logo icon">
      Pocket Weather
    </a>
    
    <ul class="navbar-links">
      <li class="navbar-item">
        <a class="navbar-link-item" routerLink="/">
          <img src="assets/home.svg" width="20" alt="home icon">
          Home
        </a>
      </li>
      <li class="navbar-item">
        <a routerLink="about">
          About
        </a>
      </li>
    </ul>
  </div>
</div>