<div class="home">
  <div class="home__upper">
    <div class="home__upper-left">
    </div>
    <div class="home__upper-content">
      <h3 class="home__city">Toronto</h3>
      <h4 class="home__date">Sunday, 10 June</h4>
      <h1 class="home__temp">18&deg;C </h1>
    </div>
    <div class="home__upper-right">
      <div class="weather__detail-chart">
        <app-weather-chart></app-weather-chart>
      </div>
    </div>
  </div>

  <div class="weather__detail-lower">
    <ul class="weather__detail-list">
      <li>
        <img src="assets/drop.svg" width="40" alt="Humidity" /> 
        <span>Humidity: 100</span>
      </li>
      <li>
        <img src="assets/sun.svg" width="40" alt="Humidity" /> 
        <span>Precipitation: 20</span></li>
      <li>
        <img src="assets/thermometer.svg" width="40" alt="Humidity" /> 
        <span>Wind: 40%</span></li>
      <li>
        <img src="assets/wind.svg" width="40" alt="Humidity" /> 
        <span>Pressure: 34%</span>
      </li>
      <li>
        <img src="assets/wind.svg" width="40" alt="Humidity" /> 
        <span>Visibility: 34%</span>
      </li>
      <li>
        <img src="assets/wind.svg" width="40" alt="Humidity" /> 
        <span>UV Index: 34%</span>
      </li>
      <li>
        <img src="assets/wind.svg" width="40" alt="Humidity" /> 
        <span>Pressure: 34%</span>
      </li>
      <li>
        <img src="assets/wind.svg" width="40" alt="Humidity" /> 
        <span>Visibility: 34%</span>
      </li>
      <li>
        <img src="assets/wind.svg" width="40" alt="Humidity" /> 
        <span>UV Index: 34%</span>
      </li>
      <li>
        <img src="assets/wind.svg" width="40" alt="Humidity" /> 
        <span>Pressure: 34%</span>
      </li>
      <li>
        <img src="assets/wind.svg" width="40" alt="Humidity" /> 
        <span>Visibility: 34%</span>
      </li>
      <li>
        <img src="assets/wind.svg" width="40" alt="Humidity" /> 
        <span>UV Index: 34%</span>
      </li>
      <li>
        <img src="assets/wind.svg" width="40" alt="Humidity" /> 
        <span>Pressure: 34%</span>
      </li>
      <li>
        <img src="assets/wind.svg" width="40" alt="Humidity" /> 
        <span>Visibility: 34%</span>
      </li>
      <li>
        <img src="assets/wind.svg" width="40" alt="Humidity" /> 
        <span>UV Index: 34%</span>
      </li>
    </ul>
  </div>
</div>
