/* You can add global styles to this file, and also import other style files */
:root {
  --gray-darker: #333;
  --gray-dark: #777;
  --gray-light: #ccc;
  --indigo: rgb(41, 59, 255);
  --blue: rgb(36, 193, 255);
  --shadow-light: rgba(255, 255, 255, 0.1);
  --shadow-container: rgba(0, 0, 0, 0.3);
}

*,
*::after
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62%;
}

body {
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;/* 16px */
  width: 100%;
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(45deg, var(--gray-darker) 0%, var(--gray-dark) 55%, var(--gray-light) 100%);
  color: #fff;
}
.container{
  margin: 3rem auto;
  width: 90rem;
  height: 80vh;
  padding: 5rem;
  border-radius: 2rem;
  background: rgb(2,0,36);
  box-shadow: 1rem 1rem 1rem var(--shadow-container);
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

}

h1 {
  font-size: 4.8rem;
}
