/* You can add global styles to this file, and also import other style files */
:root {
  --gray-darker: #333;
  --gray-dark: #777;
  --gray-light: #ddd;
  --gray: #aaa;
  --indigo: rgb(41, 59, 255);
  --blue: rgb(36, 193, 255);
  --shadow-light: rgba(255, 255, 255, 0.1);
  --shadow-container: rgba(0, 0, 0, 0.3);
  --container-bg: #C5CDF8;
  --container-bg-dark: #b1bcfc;
  --bottom-divider: rgba(255,255,255, 0.3) solid 0.2rem;
  --border-radius: 2rem;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 1.6rem;/* 16px */
  width: 100%;
  min-height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(45deg, var(--container-bg) 0%, var(--container-bg-dark) 55%, var(--gray) 100%);
  color: #fff;
}
.container{
  margin: 3rem auto;
  width: 90rem;
  height: 90vh;
  border-radius: var(--border-radius);
  background: rgb(2,0,36);
  box-shadow: 1rem 1rem 1rem var(--shadow-container);
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.loading{
  display: grid;
  place-content: center;
  height: 70vh;
}

h1 {
  font-size: 4.8rem;
}
li{
  list-style: none;
}
ul{
  margin: 0;
  padding: 0;
}
a:link,
a:visited{
  color: #336eae;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.home__upper{
  border-bottom: var(--bottom-divider);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home__upper-left{
  filter: blur(.2rem);
  opacity: .8;
  border-radius: 2rem 0 0 0;
  background-image: url('assets/day-bg.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover; 
  height: 100%;
  width: 50%;
}
.home__upper-content{
  background: rgba(0, 0, 0, 0.2);
  padding: 3rem 5rem;
  border-radius: var(--border-radius);
  position: absolute;
  display: inline-block;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home__upper-right{
  height: 100%;
  width: 50%;
}

.home__form{
  display: flex;
  justify-content: center;
  margin: 2rem auto 5rem;
  width: 100%;
}

.home__form input{
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  width: 35rem;
  border-radius: var(--border-radius);
  filter: drop-shadow(1rem 1rem 1rem var(--shadow-container));
  border: none;
  outline: none;
  z-index: 2;
}
.home__search-result{
  position: absolute;
  top: 7rem;
  right: 5rem;
  z-index: 1;
  background: #fff;
  padding: 3rem 2rem 1.5rem;
  width: 35rem;
  height: 15rem;
  filter: drop-shadow(1rem 1rem 1rem var(--shadow-container));
  margin: -2rem auto 1rem;
  border-radius: 0 0 2rem 2rem;
  overflow-y: scroll;
  animation: dropDown .3s ease;
}

.home__search-result li{
  font-size: 1.6rem;
  color: var(--gray-dark);
  line-height: 2.5rem;
  cursor: pointer;
}
.home__search-result li:not(:last-of-type){
  border-bottom: solid rgba(0, 0, 0, 0.2) .1rem; 
}
.home__button{
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  width: 15rem;
  border-radius: var(--border-radius);
  filter: drop-shadow(1rem 1rem 1rem var(--shadow-container));
  border: none;
  cursor: pointer;
  outline: none;
  margin: 2rem auto 1rem;
  display: block;
  text-align: center;
  color: #fff;
  background: var(--indigo);
  transition: all .3s ease;
}
.home__button:hover{
  filter: drop-shadow(2rem 2rem 2rem var(--shadow-container));
}

.home__upper-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
}

.home__upper-list li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home__upper-list li img{
  filter: drop-shadow(1rem 1rem 1rem var(--shadow-container));
  margin-right: .5rem;
}

.home__city{
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 0rem;
}
.home__date{
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--gray-light);
  margin-top: 0;
}
.home__temp{
  font-size: 6rem;
  font-weight: 100;
  margin-top: 0;
}

.home__lower{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.home__panel-list{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home__lower-panel{
  background: rgba(255, 255, 255, 0.2);
  border-radius: var(--border-radius);
  filter: drop-shadow(1rem 1rem 1rem var(--shadow-container));
  padding: 2rem 1rem;
  width: 15rem;
  text-align: center;
  cursor: pointer;
  transition: all .3s ease;
}

.home__lower-panel:hover{
  background: rgba(255, 255, 255, 0.25);
  filter: drop-shadow(2rem 2rem 2rem var(--shadow-container));
}

.home__lower-day{
  font-weight: 600;
}
.home__lower-date{
  display: block;
  font-size: 1.6rem;
  font-weight: 100;
  color: var(--gray-light);
  margin-top: 0;
}
.home__lower-icon{
  filter: drop-shadow(1rem 1rem 1rem var(--shadow-container));
}

.home__lower-footer{
  display: flex;
  font-weight: 100;
}

.home__lower-left{
  width: 50%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.home__lower-left span{
  display: block;
  margin-right: -1rem;
}

.home__lower-right span{
  display: block;
  margin-left: -1rem;
}
.home__lower-right > span:first-of-type,
.home__lower-left > span:first-of-type{
  font-weight: 400;
}

.home__lower-right{
  width: 50%;
}


@keyframes dropDown {
  0%{ 
    height: 0;
  }
  50%{ 
    height: 7.5rem;
  }
  100%{ 
    height: 15rem;
  }
}
